.ChatInput{
    width: 100;
    display:block;
    margin:auto;

    input{
        padding:10px;
        margin: 0;
        font-size: 16px;
        border:none;
        border-radius: 5px;
        border: 1px solid #D0E8DD;
        width: 98%;
        font-family: Roboto, Geneva, Arial, Helvetica, sans-serif;
    }

}