.header{
    background-color: #E8F3EE;
    color:#607C70;
    max-width: 100%;
    padding: 50px;
    h2{
        margin:0;
        padding:0;
        font-size: 4em;
        text-align: center;
    }
}